body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: rgb(175, 214, 238);
  }
  
  
  .jumbotron {
    text-align: center;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    border-bottom: 10px solid black;
    margin-top: -50px;
    height: 250px;
    height: 175px;
  }
  .jumbotron h1{
   font-size: 45px;
  }
  .jumbotron p{
      color: darkgoldenrod;
  }
.col-9{
    left:300px;
    background-color: lime;
  }